<a href="https://colab.research.google.com/github/AsmitaGhoderao/spark-projects/blob/main/Pyspark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [4]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [5]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [6]:
# Downloading and preprocessing Cars Data downloaded origianlly from https://perso.telecom-paristech.fr/eagan/class/igr204/datasets
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2023-07-10 06:03:41--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.110.153, 185.199.109.153, 185.199.108.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2023-07-10 06:03:41--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.002s

2023-07-10 06:03:41 (13.2 MB/s) - ‘cars.csv’ saved [22608/22608]

In [7]:
df = spark.read.csv('cars.csv', header = True, sep = ";")
df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|
|Chevrolet Chevell...|   0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|
|    Ford Torino (sw)|   0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|
|Plymouth Satellit...|   0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|
|  AMC Rebel SST (sw)|   0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|
|Ford Mustang Boss...|   0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0| 3086.|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [8]:
df.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

In [9]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [10]:
## implicitly infer the schema while inputing data
df = spark.read.csv('cars.csv', header = True, sep = ";", inferSchema = True)
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [11]:
## explicitly defining schemas
from pyspark.sql.types import *
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [12]:
# Creating a list of the schema in the format column_name, data_type
labels = [
     ('Car',StringType()),
     ('MPG',DoubleType()),
     ('Cylinders',IntegerType()),
     ('Displacement',DoubleType()),
     ('Horsepower',DoubleType()),
     ('Weight',DoubleType()),
     ('Acceleration',DoubleType()),
     ('Model',IntegerType()),
     ('Origin',StringType())
]

In [13]:
# Creating the schema that will be passed when reading the csv
custom_schema = StructType([StructField (x[0], x[1], True) for x in labels])
custom_schema

StructType(List(StructField(Car,StringType,true),StructField(MPG,DoubleType,true),StructField(Cylinders,IntegerType,true),StructField(Displacement,DoubleType,true),StructField(Horsepower,DoubleType,true),StructField(Weight,DoubleType,true),StructField(Acceleration,DoubleType,true),StructField(Model,IntegerType,true),StructField(Origin,StringType,true)))

In [14]:
df = spark.read.csv('cars.csv', header=True, sep=";", schema=custom_schema)
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [15]:
df.select(df['car'],df['mpg'])

+--------------------+----+
|                 car| mpg|
+--------------------+----+
|Chevrolet Chevell...|18.0|
|   Buick Skylark 320|15.0|
|  Plymouth Satellite|18.0|
|       AMC Rebel SST|16.0|
|         Ford Torino|17.0|
|    Ford Galaxie 500|15.0|
|    Chevrolet Impala|14.0|
|   Plymouth Fury iii|14.0|
|    Pontiac Catalina|14.0|
|  AMC Ambassador DPL|15.0|
|Citroen DS-21 Pallas| 0.0|
|Chevrolet Chevell...| 0.0|
|    Ford Torino (sw)| 0.0|
|Plymouth Satellit...| 0.0|
|  AMC Rebel SST (sw)| 0.0|
| Dodge Challenger SE|15.0|
|  Plymouth 'Cuda 340|14.0|
|Ford Mustang Boss...| 0.0|
|Chevrolet Monte C...|15.0|
|Buick Estate Wago...|14.0|
+--------------------+----+
only showing top 20 rows

In [16]:
# Column name is case insensitive in this usage
from pyspark.sql.functions import col
df.select(col('car'),col('cylinders')).show(truncate=False)

+--------------------------------+---------+
|car                             |cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

In [17]:
## Adding a NEW COLUMN to df
# Column name is case insensitive in this usage
from pyspark.sql.functions import lit
df = df.withColumn("new_col", lit(100))
df.show()

# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.

+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|new_col|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|    100|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|    100|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|    100|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|    100|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|    100|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341.0|        10.0|   70|    US|    100|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354.0|         9.0|   70|    US|    100|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312.0|         8.5|   70|    US|    100|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425.0|        10.0|   70|    US|    100|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850.0|         8.5|   70|    US|    100|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|3090.0|        17.5|   70|Europe|    100|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142.0|        11.5|   70|    US|    100|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034.0|        11.0|   70|    US|    100|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166.0|        10.5|   70|    US|    100|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850.0|        11.0|   70|    US|    100|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563.0|        10.0|   70|    US|    100|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609.0|         8.0|   70|    US|    100|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353.0|         8.0|   70|    US|    100|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761.0|         9.5|   70|    US|    100|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086.0|        10.0|   70|    US|    100|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+
only showing top 20 rows

In [18]:
df = df.withColumn("new_col", lit(100)) .withColumn("new_col1",lit(200))
df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|new_col|new_col1|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|    100|     200|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|    100|     200|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|    100|     200|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|    100|     200|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|    100|     200|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341.0|        10.0|   70|    US|    100|     200|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354.0|         9.0|   70|    US|    100|     200|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312.0|         8.5|   70|    US|    100|     200|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425.0|        10.0|   70|    US|    100|     200|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850.0|         8.5|   70|    US|    100|     200|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|3090.0|        17.5|   70|Europe|    100|     200|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142.0|        11.5|   70|    US|    100|     200|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034.0|        11.0|   70|    US|    100|     200|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166.0|        10.5|   70|    US|    100|     200|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850.0|        11.0|   70|    US|    100|     200|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563.0|        10.0|   70|    US|    100|     200|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609.0|         8.0|   70|    US|    100|     200|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353.0|         8.0|   70|    US|    100|     200|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761.0|         9.5|   70|    US|    100|     200|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086.0|        10.0|   70|    US|    100|     200|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+
only showing top 20 rows

In [19]:
from pyspark.sql.functions import concat
df = df.withColumn("new_col3", concat(col("origin"), lit("-"), col("model")))
df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+---------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|new_col|new_col1| new_col3|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+---------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|    100|     200|    US-70|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|    100|     200|    US-70|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|    100|     200|    US-70|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|    100|     200|    US-70|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|    100|     200|    US-70|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341.0|        10.0|   70|    US|    100|     200|    US-70|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354.0|         9.0|   70|    US|    100|     200|    US-70|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312.0|         8.5|   70|    US|    100|     200|    US-70|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425.0|        10.0|   70|    US|    100|     200|    US-70|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850.0|         8.5|   70|    US|    100|     200|    US-70|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|3090.0|        17.5|   70|Europe|    100|     200|Europe-70|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142.0|        11.5|   70|    US|    100|     200|    US-70|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034.0|        11.0|   70|    US|    100|     200|    US-70|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166.0|        10.5|   70|    US|    100|     200|    US-70|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850.0|        11.0|   70|    US|    100|     200|    US-70|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563.0|        10.0|   70|    US|    100|     200|    US-70|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609.0|         8.0|   70|    US|    100|     200|    US-70|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353.0|         8.0|   70|    US|    100|     200|    US-70|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761.0|         9.5|   70|    US|    100|     200|    US-70|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086.0|        10.0|   70|    US|    100|     200|    US-70|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------+--------+---------+
only showing top 20 rows

In [20]:
df = df.withColumnRenamed("new_col", "qty")
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+---+--------+--------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|qty|new_col1|new_col3|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---+--------+--------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|100|     200|   US-70|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|100|     200|   US-70|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|100|     200|   US-70|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|100|     200|   US-70|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|100|     200|   US-70|
+--------------------+----+---------+------------+----------+------+------------+-----+------+---+--------+--------+
only showing top 5 rows

In [21]:
df.groupBy('origin').count().show()

+------+-----+
|origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [22]:
df.groupBy('origin','model').count().show()

+------+-----+-----+
|origin|model|count|
+------+-----+-----+
|Europe|   71|    5|
|Europe|   80|    9|
|Europe|   79|    4|
| Japan|   75|    4|
|    US|   72|   18|
|    US|   80|    7|
|Europe|   74|    6|
| Japan|   79|    2|
|Europe|   76|    8|
|    US|   75|   20|
| Japan|   77|    6|
|    US|   82|   20|
| Japan|   80|   13|
| Japan|   78|    8|
|    US|   78|   22|
|Europe|   75|    6|
|    US|   71|   20|
|    US|   77|   18|
| Japan|   70|    2|
| Japan|   71|    4|
+------+-----+-----+
only showing top 20 rows

In [23]:
df = df.drop('qty') .drop('new_col1') .drop('new_col3')

In [24]:
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [25]:
df.count()

406

In [26]:
df.filter(col('origin')=='Europe').count()

73

In [28]:
df.filter((col('origin')=='Europe') & (col('model')=='70')).count()

6

In [29]:
df.select('origin').distinct().show()

+------+
|origin|
+------+
|Europe|
|    US|
| Japan|
+------+

In [30]:
df.orderBy('horsepower',ascending = False)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|  Pontiac Grand Prix|16.0|        8|       400.0|     230.0|4278.0|         9.5|   73|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086.0|        10.0|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425.0|        10.0|   70|    US|
|Buick Electra 225...|12.0|        8|       455.0|     225.0|4951.0|        11.0|   73|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354.0|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312.0|         8.5|   70|    US|
|           Ford F250|10.0|        8|       360.0|     215.0|4615.0|        14.0|   70|    US|
|Chrysler New York...|13.0|        8|       440.0|     215.0|4735.0|        11.0|   73|    US|
|          Dodge D200|11.0|        8|       318.0|     210.0|4382.0|        13.5|   70|    US|
|     Mercury Marquis|11.0|        8|       429.0|     208.0|4633.0|        11.0|   72|    US|
|           Chevy C20|10.0|        8|       307.0|     200.0|4376.0|        15.0|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341.0|        10.0|   70|    US|
|Mercury Marquis B...|12.0|        8|       429.0|     198.0|4952.0|        11.5|   73|    US|
|            Hi 1200D| 9.0|        8|       304.0|     193.0|4732.0|        18.5|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850.0|         8.5|   70|    US|
|Chrysler Newport ...|13.0|        8|       400.0|     190.0|4422.0|        12.5|   72|    US|
|    Chrysler Cordoba|15.5|        8|       400.0|     190.0|4325.0|        12.2|   77|    US|
|   Dodge Monaco (sw)|12.0|        8|       383.0|     180.0|4955.0|        11.5|   71|    US|
|Oldsmobile Vista ...|12.0|        8|       350.0|     180.0|4499.0|        12.5|   73|    US|
|    Oldsmobile Omega|11.0|        8|       350.0|     180.0|3664.0|        11.0|   73|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [31]:
## GROUP BY and ORDER BY Together

df.groupBy('origin').count().orderBy('count',ascending = False).show(10)

+------+-----+
|origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
+------+-----+

In [33]:

# UNION OPERATION
# union() - has duplicates, need to remove using dropduplicates function of dataframe
# unionByName - used when the columns are not in order , also has duplicates

europe_cars = df.filter((col('Origin')=='Europe') & (col('Cylinders')==5))
japan_cars = df.filter((col('Origin')=='Japan') & (col('Cylinders')==3))
print("EUROPE CARS: "+str(europe_cars.count()))
print("JAPAN CARS: "+str(japan_cars.count()))
print("AFTER UNION: "+str(europe_cars.union(japan_cars).count()))

EUROPE CARS: 3
JAPAN CARS: 4
AFTER UNION: 7

In [34]:
# Creating two dataframes with jumbled columns
df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
df1.unionByName(df2).show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+

In [35]:
## STRING FUNCTION

from pyspark.sql.functions import col,lower, upper, substring
# Prints out the details of a function
help(substring)
# alias is used to rename the column name in the output
df.select(col('Car'),lower(col('Car')),upper(col('Car')),substring(col('Car'),1,4).alias("concatenated value")).show(5, False)

Help on function substring in module pyspark.sql.functions:

substring(str, pos, len)
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    Notes
    -----
    The position is not zero based, but 1 based index.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

+-------------------------+-------------------------+-------------------------+------------------+
|Car                      |lower(Car)               |upper(Car)               |concatenated value|
+-------------------------+-------------------------+-------------------------+------------------+
|Chevrolet Chevelle Malibu|chevrolet chevelle malibu|CHEVROLET CHEVELLE MALIBU|Chev              |
|Buick Skylark 320        |buick skylark 320        |BUICK SKYLARK 320        |Buic              |
|Plymouth Satellite       |plymouth satellite       |PLYMOUTH SATELLITE       |Plym              |
|AMC Rebel SST            |amc rebel sst            |AMC REBEL SST            |AMC               |
|Ford Torino              |ford torino              |FORD TORINO              |Ford              |
+-------------------------+-------------------------+-------------------------+------------------+
only showing top 5 rows

In [36]:
## DATE FUNCTION
from pyspark.sql.functions import to_date, to_timestamp, lit
df = spark.createDataFrame([('2019-12-25 13:30:00',)], ['DOB'])
df = df.select(to_date(col('DOB'),'yyyy-MM-dd HH:mm:ss'), to_timestamp(col('DOB'),'yyyy-MM-dd HH:mm:ss'))
df.show()
df.printSchema()

+---------------------------------+--------------------------------------+
|to_date(DOB, yyyy-MM-dd HH:mm:ss)|to_timestamp(DOB, yyyy-MM-dd HH:mm:ss)|
+---------------------------------+--------------------------------------+
|                       2019-12-25|                   2019-12-25 13:30:00|
+---------------------------------+--------------------------------------+

root
 |-- to_date(DOB, yyyy-MM-dd HH:mm:ss): date (nullable = true)
 |-- to_timestamp(DOB, yyyy-MM-dd HH:mm:ss): timestamp (nullable = true)